
/* Title Block */

.quarto-title-block .quarto-title-banner {
  background-image: url('../logos/KUADRC.png');
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 22vh;
}

/* Fonts */

h1.title {
  font-size: 54px;
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff !important;
  height: 8vh;
}

p.subtitle {
  color: #ffc82d !important;
  font-size: 32px;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  font-size: 26px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: #e8000d;
}


/* Meta data */

.quarto-title-meta-heading {
  font-size: 18px !important;
  font-family: 'Times New Roman', Times, serif;
  color: #000000;
  font-weight: bold !important;
}

.abstract .block-title {
  font-size: 18px !important;
  font-family: 'Times New Roman', Times, serif;
  color: #000000;
  font-weight: bold !important;
}

.keywords .block-title {
  font-size: 18px !important;
  font-family: 'Times New Roman', Times, serif;
  color: #000000;
  font-weight: bold !important;
}